<footer class="bg-body-tertiary text-center text-lg-start"
    style="position: relative; bottom: 0; width: 100%; margin-top: auto;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="">3º Informatica</a>
    </div>
    <!-- Copyright -->
</footer>