<nav class="navbar navbar-expand-lg" style="background-color: #64375E;">
    <div class="container">
        <a class="navbar-brand mb-0 h1 text-white" href="/"><img width="170px" style="filter: invert(1);" src="https://media.discordapp.net/attachments/1221143830624211017/1221264369376034917/image.png?ex=6611f213&is=65ff7d13&hm=2df03ce73e32c68c33dca587e14a55c2e8b021d1158ea000ff03d6616e85e2c8&=&format=webp&quality=lossless&width=666&height=88"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="/" class="nav-link active text-white">Início</a></li>
                <li class="nav-item"><a href="#" class="nav-link active text-white">Editais</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><button class="btn btn-secondary me-2" type="submit"><i
                            class="fa-solid fa-bell text-white"></i></button></li>
                <li class="nav-item"><a href="#" class="btn btn-secondary me-2 text-white" role="button">Entrar</a></li>
                <li class="nav-item"><a href="#" class="btn btn-secondary me-2" role="button">Cadastrar</a></li>
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit"><i
                                class="fa-solid fa-magnifying-glass text-white"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>