<head>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    
</head>

<nav class="navbar navbar-expand-lg p-3" style="background-color: #64375E;">
    <div class="container-lg">
        <a class="navbar-brand mb-0 h1 text-white" href="/" id="logo-hover">
            <img width="170px" style="filter: invert(1);" src="/images/logo-portal-do-artista.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="/" class="nav-link active text-white">Início</a></li>
                <li class="nav-item"><a href="/edital" class="nav-link active text-white">Editais</a></li>
                <li class="nav-item"><a href="/edital/create" class="nav-link active text-white">Criar Edital</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/auth/login" class="btn btn-secondary me-2 text-white"
                        role="button">Entrar</a></li>
                <li class="nav-item"><a href="/auth/registro" class="btn btn-secondary me-2" role="button">Cadastrar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>