<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="../stylesheets/create_notice.css" />
    <title>Portal do Artista</title>
  </head>

  <body>
    <header><%- include('partials/navbar.ejs') %></header>
    <main>
      <div class="geral">
        <div class="box">
          <form action="/api/editais/create" method="post" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
              <label for="name" class="form-label">Título do Edital</label>
              <input type="text" name="title" class="form-control" id="name" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descrição</label>
              <textarea name="description" class="form-control" id="description" required></textarea>
            </div>
            <div class="mb-3">
              <label for="conta" class="form-label">Conta</label>
              <select name="conta" class="form-select" id="conta" required>
                <option value="" disabled selected>Escolha uma conta</option>
                <option value="1">danilo</option>
                <option value="2">faelson</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </main>
    <script>
      
    </script>
    <%- include('partials/vlibras.ejs') %> <%- include('partials/footer.ejs') %>
  </body>
</html>
