<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <header>
    <%- include('partials/navbar.ejs') %>
  </header>
  <!-- Escrever a página aqui -->
  <%- include('partials/vlibras.ejs') %>
  <%- include('partials/footer.ejs') %>
</body>

</html>