body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.link-underline:hover {
  text-decoration: black underline !important;
}

.box-bar {
  margin: 20px 0 20px 0;
  font-size: 18px;
}

.box-bar p {
  font-weight: bold;
}

.box-bar p span {
  font-weight: normal;
}

.box-bar form input {
  background-color: #d9d9d9;
}

li button {
  border: none;
  background: inherit;
}
