@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

main {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .geral {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .box {
    padding: 10px;
    width: 26%;
    border-radius: 10px;
    background-color: #e8e8e8;
    box-shadow: 0 0 10px 0 gray;
  }

.feed {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 40px;
  padding-bottom: 0;
}

.feed p {
  font-family: 'Abel', sans-serif;
  margin-bottom: 0;
}

.back  {
  display: flex;
  justify-content: center;
  padding-top: 0;
  font-size: 12px;
  text-align: center;
  padding-bottom: 1rem;
}

.back p {
  font-family: 'Inter', sans-serif;
  color: rgb(110, 110, 110);
}

label {
  font-family: 'Inter', sans-serif;
}

select {
  border-radius: 5px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: rgb(63, 63, 63);
  height: 40px;
}

input {
  font-family: "Inter", sans-serif;
  height: 50px;
}