@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.container{

    margin-top: 40px;
    width: 26rem !important;
    height: 26rem !important;
    background-color: #E8E8E8;
    border-radius: 35px ;
    padding: 30px;
    box-shadow: 0 0 10px 0 gray !important;



}

.btn{

    margin-top: 20px !important;
    background-color: #723172 !important;
    box-shadow: 0 0 10px 0 gray !important;



}

.titulo{
    font-family: "Abel", sans-serif;
}