<head>
    <link rel="stylesheet" href="/stylesheets/create_notice.css">
</head>

<main>
    <div class="geral">
        <div class="box">
            <form action="/api/editais/create" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <label for="title" class="form-label">Título do Edital</label>
                    <input type="text" name="title" class="form-control" id="title" required>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Nome do Autor</label>
                    <input type="text" name="author" class="form-control" id="author" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrição</label>
                    <textarea name="description" class="form-control" id="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="artisticCategory" class="form-label">Categoria Artística</label>
                    <textarea name="artisticCategory" class="form-control" id="artisticCategory" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Critérios de Seleção</label>
                    <textarea name="criteriosSelecao" class="form-control" id="criteriosSelecao" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Prazo da Inscrição</label>
                    <input type="date" name="subscriptionDeadline" class="form-control" id="subscriptionDeadline" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Detalhe do Financiamento</label>
                    <textarea name="detalhesFinanciamento" class="form-control" id="detalhesFinanciamento" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Organizador</label>
                    <textarea name="organizador" class="form-control" id="organizador" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="processoInscricao" class="form-label">Processo de Inscrição</label>
                    <textarea name="processoInscricao" class="form-control" id="processoInscricao" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</main>
<script>

</script>