<head>
    <link rel="stylesheet" href="/stylesheets/create_notice.css">
</head>

<main>
    <div class="geral">
        <div class="box">
            <form action="/api/editais/create" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <label for="title" class="form-label">Título do Edital</label>
                    <input type="text" name="title" class="form-control" id="title" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Organizador do Edital</label>
                    <textarea name="organizador" class="form-control" id="organizador" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrição</label>
                    <textarea name="description" class="form-control" id="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="support" class="form-label">Tipo de apoio</label>
                    <select name="support" id="support" required>
                        <option value="" selected>Selecione uma opção</option>
                        <option value="FINANCIAL">Financeiro</option>
                        <option value="LOGISTIC">Logístico</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="artisticCategory" class="form-label">Categoria Artística</label>
                    <select name="artisticCategory" id="categoriaArtistica" required>
                        <option value="" selected>Selecione uma opção</option>
                        <option value="MUSIC">Música</option>
                        <option value="THEATER">Teatro</option>
                        <option value="DANCE">Dança</option>
                        <option value="ARTS">Artes Visuais</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Critérios de Seleção</label>
                    <textarea name="criteriosSelecao" class="form-control" id="criteriosSelecao" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Prazo da Inscrição</label>
                    <input type="date" name="subscriptionDeadline" class="form-control" id="subscriptionDeadline" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Detalhe do Financiamento</label>
                    <textarea name="detalhesFinanciamento" class="form-control" id="detalhesFinanciamento" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="valorFinanciamento" class="form-label">Valor do Financiamento</label>
                    <input type="number" name="valorFinanciamento" class="form-control" id="valorFinanciamento" required min="0" step="0.01">
                </div>
                <div class="mb-3">
                    <label for="processoInscricao" class="form-label">Processo de Inscrição</label>
                    <textarea name="processoInscricao" class="form-control" id="processoInscricao" required></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</main>
<script>

</script>