<head>
    <link rel="stylesheet" href="/stylesheets/feedback.css">
</head>

<main>
    <div class="geral">
        <div class="box">
            <div class="feed">
                <p>Feedback - Edital nº <%= editalID %></p>
            </div>
            <div class="back">
                <p>Caso haja algum problema com o edital selecionado, nos conte para que possamos resolver!</p>
            </div>
            <form action="/edital/feedback/<%= editalID %>" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Digite seu nome" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Assunto</label>
                    <div>
                        <select name="subject" id="subject" required>
                            <option value="" selected>Selecione uma opção</option>
                            <option value="informationOutdated">Informação desatualizada</option>
                            <option value="informationWrong">Informação incorreta</option>
                            <option value="error">Erro no edital</option>
                            <option value="other">Outro</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="descriptionProblem" class="form-label">Descrição do problema</label>
                    <textarea name="descriptionProblem" class="form-control" id="descriptionProblem" placeholder="Nos dê uma breve explicação do problema" required></textarea>
                </div>

                    <button style="background-color: #64375E; border: 0" type="submit" class="btn btn-primary">Enviar</button>
        </div>


    </form>
</main>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const token = localStorage.getItem('token')
        try {
            const res = await fetch('/api/acc/get-session-name', {
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
            
            if (res.status !== 200) {
                window.location.href = '/auth/login'
            }
        } catch (e) {
            window.location.href = '/auth/login'
        }
    })
</script>