<head>
    <link rel="stylesheet" href="/stylesheets/sucessfeedback.css">
</head>

<main>
    <div class="geral">
        <div class="box">
            <p>Feedback enviado com sucesso!</p>
        </div>
    </div>
</main>

<script>

</script>