<head>
    <link rel="stylesheet" href="/stylesheets/sucess.css">
</head>

<main>
    <div class="box">
        <p>Edital <%= edital.id %> criado com sucesso. </p>
        <p>Título: <%= edital.title %>
        </p>
        <p>Autor: <%= edital.author %>
        </p>
    </div>
</main>
<script>

</script>